<div class="row">
<div *ngFor="let product of productlist" class="col-lg-3 col-md-6 col-sm-12">
    <div  class="card shadow border-0 mb-4">
      <div   class="card-header position-relative overflow-hidden bg-transparent border p-0">
        <img class="img-fluid " src="{{product.productImageAddress}}" alt="{{product.productName}}">
      </div>
      <div class="card-body border-left border-right text-center p-0 pt-4 pb-3 border">
        <h6 class="text-truncate mb-3">{{product.productName}}</h6>
        <div class="d-flex justify-content-center">
          <h6>{{product.productPrice|currency:"INR":"symbol"}}</h6>
        </div>
      </div>
        <div class="card-footer d-flex justify-content-between bg-light border">
          <a routerLink="detail/{{product.productId}}" class="btn btn-outline-success text-dark p-1">
            <i class="fas fa-eye text-primary mr-1" ></i>View Detail
            </a>
            <a href="" class="btn btn-danger">
                <i class="fas fa-shopping-cart text-primary mr-1">
                </i>Buy</a>
            </div>
        </div>
</div> 
</div>
